<label class="field">
  <span class="label" *ngIf="label">{{ label }}</span>
  <div class="control withIcon withToggle" [class.underline]="variant === 'underline'">
    <app-icon name="lock" size="18" class="icon-left"></app-icon>
    <input
      [type]="visible ? 'text' : 'password'"
      class="input"
      [placeholder]="placeholder"
      [(ngModel)]="model"
      [disabled]="disabled"
      (ngModelChange)="modelChange.emit($event)"
      [class.ph-upper]="placeholderUppercase"
    />
    <button type="button" class="toggle" (click)="visible = !visible" [attr.aria-label]="visible ? 'Ocultar' : 'Mostrar'">
      <app-icon [name]="visible ? 'eye-off' : 'eye'" size="18"></app-icon>
    </button>
  </div>
</label>

